
<style>
    .about-us {
      padding: 3rem;
    }
  
    .about-us h1 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 2rem;
    }
  
    .about-us h2 {
      font-size: 24px;
      font-weight: bold;
      margin-top: 2rem;
    }
  
    .about-us p {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 2rem;
    }
  </style>
  
  <div class="about-us container my-5">
    <h1 class="text-center">About Us</h1>
    <p class="lead text-center">We are a new company that bring to your home anything you might need. Making you happy is our priority.</p>
    <h2>Join Us Now</h2>
    <p>We are a great team that loves to work together to help others.</p>
    <h2>Our Goals</h2>
    <p>Our mission is to make shopping a simple task. We would like you to get anything you need by a click</p>
  </div>